.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 33px;
  width: 40px;
  background-color: white;
  z-index: 101;
}

.sidebar-link {
  height: 43px;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-link img {
  height: 15px;
  margin-bottom: 3px;
}

.sidebar-link div {
  font-size: 6px;
  font-weight: 500;
}
